# TiDB Cloud Credentials (MySQL Compatible)
TIDB_HOST=gateway01.ap-southeast-1.prod.aws.tidbcloud.com
TIDB_PORT=4000
TIDB_DATABASE=sys
TIDB_USERNAME=3eTGhhSzVVr7RJa.root
TIDB_PASSWORD=bYe6vSRnbmuV0aRc

# Flask Configuration
SECRET_KEY=ems-super-secret-key-change-in-production
FLASK_ENV=development
